<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 250px; text-align: center">
                    <div class="header">
                        <img src="./assets/img/logo.png" height="150px" width="200px">
                        <h4 class="title">Welcome to UOB-Groups</h4>
                        <div class="category">اهلا بكم في مجموعات جامعة البحرين</div>
                    </div>
                </div>
                <div class="card" style="height: 300px">
                    <div class="header">
                        We are working on building a volunteer team that contributes to develop students and raise their performance. Therefore, please support us by distribute this site to reach as many students as possible. <br><br>
                        <div style="direction: rtl">
                            نسعى لعمل فريق تطوعي يساهم في  تطوير الطلاب ورفع مستوياتهم.و سيتم العمل على العديد من المميزات في الفترة القادمة أهمها مشاركة الملفات. لذلك نرجو الدعم بنشر الموقع ليصل لأكبر عدد ممكن من الطلبة
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
